<%- include partials/header.ejs %>
<%- include partials/mainnav.ejs %>

    <div id="content">
        <!-- Message Content-->
        <h4>Here are the contents of your message:</h4>
        <p>Name: <%= name%></p><br>
        <p>Email: <%= email%></p><br>
        <p>Subject: <%= subj%></p><br>
        <p>Message: <%= msg%></p><br>
        <p>Click <a href="/">here</a> to go back to the home page.</p>
    </div>

<%- include partials/footer.ejs %>